---
import Header from '../components/Header.astro';
import Head from '../components/Head.astro';
---

<html lang="en">
  <Head title="Home" />
  <body>
    <Header />
	  <section class="bg-gradient-to-tl from-white via-gray-100 to-blue-200 text-gray-900 text-center" style="height: calc(100vh - 60px);">
	  	<div class="max-w-6xl mx-auto px-6 h-full flex flex-col justify-center">
	  	  <h1 class="text-5xl font-bold mb-4">けみぐ / KemG</h1>
	  	  <p class="text-xl mb-8">中学生 / プログラミング / 自作キーボード</p>
	  	</div>
	  </section>
  </body>
</html>