---
---

<header class="text-black p-4 shadow-md">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <h1 class="text-xl font-bold">けみぐ / KemG</h1>
    <nav>
      <ul class="flex space-x-6">
        <li><a href="/" class="hover:underline decoration-solid">Home</a></li>
        <li><a href="/about" class="hover:underline decoration-solid">About</a></li>
        <li><a href="/projects" class="hover:underline decoration-solid">Projects</a></li>
        <li><a href="/review" class="hover:underline decoration-solid">Reviews</a></li>
        <li><a href="/links" class="hover:underline decoration-solid">Links</a></li>
        <li><a href="/contact" class="hover:underline decoration-solid">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>